# ------------------------------------------------------------
# Python
# ------------------------------
__pycache__/
*.so

# ------------------------------------------------------------
# Secrets & Logs
# ------------------------------
.env
*.log
logs/

# ------------------------------------------------------------
# AI Models
# ------------------------------
models/
*.pth
*.onnx
*.safetensors

# ------------------------------------------------------------
# IDE
# ------------------------------
.vscode/

# ------------------------------------------------------------
# Windows Files:
# ------------------------------
desktop.ini
